<div id="approach" class="bg-black w-100 pv4 ph3 relative vh-75-l vh-100 min-vh-100-m flex items-center">
  <div class="f7 fw6 ttu tracked mt3 mb2 white w-60 center absolute subhead">Our Approach</div>

  <div class="cf center mw9 pv5-l pv4 mt5-ns mt0-m">

    <div data-aos="fade-in" data-aos-delay="0" class="w-third-l w-100 white fl tc ph4-l ph0 mb5">

      <div class="header super mb2 f3">Globally Sourced</div>
      <div class="body lh-copy measure center">The best brands and technology breakout beyond their own borders to become global leaders. So we scour the world for 25-30 leading multi-billion-market-cap companies.</div>

    </div>
    <div data-aos="fade-in" data-aos-delay="200" class="w-third-l w-100 white fl tc ph4 mb5">

      <div class="header super mb2 f3">Forward-Looking</div>
      <div class="body lh-copy measure center">Over time, we invest more and more into the same businesses. Thus, we select for business models that can continue building market share for years to come.</div>


    </div>
    <div data-aos="fade-in" data-aos-delay="400" class="w-third-l w-100 white fl tc ph4">

      <div class="header super mb2 f3">Rooted in Value</div>
      <div class="body lh-copy measure center">We ensure that our entry multiples afford a high probability for future share appreciation, and seek out companies that can generate a double digit return on newly invested capital.</div>

    </div>
  </div>


</div>
