<div class="flex flex-column w-100 items-start bg-black ph5-ns pv6-ns">
  <div class="w-80 center white">
      <div class="fl w-50 pv4"><div class="f1 caslon white">Our Approach</div></div>
      <div class="fl w-50 pv4">
        <div class="point mb4">
            <div class="f7 fw6 ttu tracked mt3 mb2">Experienced</div>
            <div class="f6 lh-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="point mb4">
            <div class="f7 fw6 ttu tracked mt3 mb2">Advantaged</div>
            <div class="f6 lh-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
        </div>
        <div class="point mb4">
            <div class="f7 fw6 ttu tracked mt3 mb2">Innovative</div>
            <div class="f6 lh-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
        </div>
        <div class="point mb4">
            <div class="f7 fw6 ttu tracked mt3 mb2">Aligned</div>
            <div class="f6 lh-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
        </div>
      </div>
  </div>
</div>
