<div id="approach" class="bg-black w-100 pv4 ph3 relative vh-75-ns vh-100-m vh-100 flex items-center">
  <div class="f7 fw6 ttu tracked mt3 mb2 white w-60 center absolute subhead">Our Approach</div>

  <div class="cf center mw9 pv5-l pv4 mt5-ns mt0-m">

    <div data-aos="fade-in" data-aos-delay="0" class="w-third-l w-100 white fl tc ph4-l ph0 mb5">

      <div class="header super mb2 f3">Globally Sourced</div>
      <div class="body lh-copy measure center">The best businesses breakout beyond their own borders to deliver as much growth from abroad as their own home country. We scour the world for 25-30 public securities of leading multi-billion-market-cap companies doing just that. Our benchmark is the S&P 500.</div>

    </div>
    <div data-aos="fade-in" data-aos-delay="200" class="w-third-l w-100 white fl tc ph4 mb5">

      <div class="header super mb2 f3">Forward-Looking</div>
      <div class="body lh-copy measure center">We aim to be repeat investors into all of our portfolio companies — which means we need a selection of advantaged business models that can continuing building market share for years to come.</div>


    </div>
    <div data-aos="fade-in" data-aos-delay="400" class="w-third-l w-100 white fl tc ph4">

      <div class="header super mb2 f3">Value Conscious</div>
      <div class="body lh-copy measure center">Knowing that we can never go back and change the prices we first paid for shares, we are careful to ensure our entry multiples afford us a high probability for future share appreciation. Further, we seek out companies that can generate a double digit return on newly invested capital.</div>

    </div>
  </div>


</div>
