<div class="bg-black pv7 relative">
  <div class="f7 fw6 ttu tracked mt3 mb2 white w-60 center absolute subhead">Our Approach</div>
  <div class="slider relative">
  <div class=" slickitem">
    <div class="w-60-l super center f2 measure-wide db mt3 lh-copy white">
      <span class="b">Think globally. </span>The portfolio is comprised of 25-30 public securities of medium and large-cap companies from around the world. We benchmark against the S&P 500.
    </div>
  </div>

  <div class=" slickitem">
    <div class="w-60-l super center f2 measure-wide db mt3 lh-copy white">
      <span class="b">Think ahead. </span>Our focus is on business models that are quickly gaining share, typically as the result of a key technological development.
    </div>
  </div>

  <div class=" slickitem">
    <div class="w-60-l super center f2 measure-wide db mt3 lh-copy white">
      <span class="b">Focus on profitable growth. </span>The portfolio is comprised of 25-30 public securities of medium and large-cap companies from around the world. We benchmark against the S&P 500.
    </div>
  </div>
  </div>
</div>
