<div class="bg-white w-80 mw9 center pv6 ph6 cantwell">
  <div class="w-100 center">
    <div class="f7 fw6 ttu tracked mt3 mb2 black w-60 ">Founder, CIO</div>
    <div class="cf">
      <div class="fl w-100 flex justify-end">
        <img class="mr4 obj-contain mt4" src="assets/headshot.png" />
        <div class="flex flex-column">
          <div class="super measure-wide f2 db mt3 lh-copy black">
            Robert Cantwell founded Upholdings in 2019 to develop benchmark beating investment strategies.
          </div>
          <div class="f6 measure-wide lh-copy off-black mt3">
            Prior to Upholdings, Robert built and led the finance and operations departments for Everlane, a modern brand offering ethically-sourced apparel over the web.
            <br/><br/>
            As an investor, Robert has spent his career under the instruction of Roger McNamee, former head of the top performing T. Rowe Price Science & Technology Fund, and founder of Silver Lake and Elevation Partners. Roger is both an investor and
            advisor to Upholdings.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
