<div id="story" class="bg-white w-100 center pt5-l pb6-l pt4 pb5 cantwell">
  <div class="w-60-l w-100 mw9 center ph4-m ph4">
    <div class="f7 fw6 ttu tracked mt3 mb2 black w-60 ">Founder, CIO</div>
    <div class="cf">
      <div class="fl w-100 flex justify-end flex-column flex-row-l">
        <img class="mr4 obj-contain mt4" src="assets/headshot.png" />
        <div class="flex flex-column">
          <div class="super measure-wide f2-ns f3 db mt3 lh-copy black">
            Robert founded Upholdings in 2019 to develop benchmark beating investment strategies for forward-looking investors.
          </div>
          <div class="f5 measure-wide lh-copy off-black mt3">
            He began his career working under Roger McNamee as an analyst scouting through the new opportunities created by the early rise of the internet. In 2013, he joined Everlane to help scale an online-first brand into a household name.
            <br/><br/>
            Successful online businesses are generally held to a higher standard — particularly across transparency, quality, and price. Upholdings was borne out of the frustration that legacy funds have yet to recalibrate their offerings for this reality.
            <br/><br/>
            Upholdings is currently only open to accredited investors, but will eventually be accessible via a tax- and fee-efficient ETF.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
