<div id="story" class="bg-white w-100 center pt5-l pb6-l pt4 pb5 cantwell">
  <div class="w-50-l w-100 mw9 center ph4-m ph4 min-700">
    <div class="f7 fw6 ttu tracked mt3 mb2 black w-100 ">Founder, CIO</div>
    <div class="cf">
      <div class="fl w-100 flex flex-column flex-row-l">
        <img class="mr4 obj-contain mt4" src="assets/headshot.png" />
        <div class="flex flex-column">
          <div class="f5 w-100 lh-copy off-black mt4">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
