<div class="ph5-ns"><div class="bt w-100 center b--light-gray"></div></div>
<div class="flex flex-column w-100 items-start bg-white ph5-ns pv6-ns">
  <div class="tc">
    <div class="f1 caslon center">Compare Your After Tax Return</div>
    <div class="f5 db mt3 lh-copy off-black w-100 w-75-m w-70-l center">The same stock portfolio operated within a Performance ETF generates 30%+ additional return over a 10-year period through tax and fee advantages.</div>
  </div>
  <div class="w-80 mt5 bb center b--light-gray">
    <div class="chart center">
      <div class="bar-1 bg-black">
          <div class="w-100 white pb3 f3">2.1x</div>
          <div class="label f6 off-black tc w-100">Performance ETF</div>
      </div>
      <div class="bar-2">
          <div class="w-100 white pb3 f3">1.8x</div>
          <div class="label f6 off-black tc w-100">Mutual Fund</div>
      </div>
    </div>
  </div>
</div>
