<div id="approach" class="bg-black w-100 pv6-ns pv5 ph5-l ph4 relative">
  <div class="w-100 center mw9 flex flex-row-ns flex-column">
    <div class="w-50-l w-100 fl mw9 ph4-l pr2">
      <div class="super f2 f2-l measure white">Investment Criteria</div>
    </div>
    <div class="w-50-l w-100 col center mt0-ns mt5">
        <div class="w-100 flex justify-end-ns flex-start">
          <div class="w-100 flex flex-column items-start justify-center">

            <div class="f5 lh-copy white mb4">01 — Large addressable market with defensible position</div>
            <div class="f5 lh-copy white mb4">02 — Globally attractive product or service</div>
            <div class="f5 lh-copy white mb4">03 — Identifiable marketing channel advantage</div>
            <div class="f5 lh-copy white mb4">04 — Good balance between purchase frequency and margins</div>
            <div class="f5 lh-copy white mb4">05 — Efficiency in capital allocation</div>
            <div class="f5 lh-copy white mb4">06 — Management that is aligned, ambitious and patient</div>
            <div class="f5 lh-copy white mb4">07 — Does not profit from environmental or societal harm</div>
            <div class="f5 lh-copy white">08 — Entry price that allows for missteps</div>
          </div>
        </div>
    </div>
  </div>
</div>
