<div id="difference" class="flex flex-column w-100 items-start justify-start bg-blue pv6-l pv4 ph5-ns ph4 ph4-m">
  <div class="w-100 center mw9">
    <div data-aos="fade-up" class="super center f3 f2-m f1-l measure db mt3 mb0-ns mb3 lh-copy black"><span class="b">We invest towards the future. </span>Every generation, there are new market forces—driven by technology, regulatory, and social changes—that enable well positioned
      companies to deliver above average earnings growth. That’s our focus.
    </div>
  </div>

  <div class="mt6-l mt5 w-100-l w-100 col center">
      <div data-aos="fade-up" class="mb5 mb4-ns w-100 flex justify-end-ns flex-start ">
        <div class="w-50-l w-100 vh-25-ns flex flex-column items-start justify-center icon-hold">
          <img class="dn-ns mv2" src="assets/icon0.svg" />
          <div class="header super mb2 f3 icon0">Internet-Connected Assets</div>
          <div class="f4 lh-copy off-black measure">The global proliferation of always-on mobile devices has connected our houses, cars, and cash to the internet. New services are improving the productivity of our assets, creating a variety of investable opportunities.</div>
        </div>
      </div>
      <div data-aos="fade-up" class="mb5 mb4-ns w-100 flex justify-end-ns">
        <div class="w-50-l w-100 vh-25-ns flex flex-column items-start justify-center icon-hold">
          <img class="dn-ns mv2" src="assets/icon1.svg" />
          <div class="header super mb2 f3 icon1">A More Personal Web</div>
          <div class="f4 lh-copy off-black measure">The global proliferation of always-on mobile devices has connected our houses, cars, and cash to the internet. New services are improving the productivity of our assets, creating a variety of investable opportunities.</div>
        </div>
      </div>
      <div data-aos="fade-up" class="mb5 w-100 flex justify-end-ns">
        <div class="w-50-l w-100 vh-25-ns flex flex-column items-start justify-center icon-hold">
          <img class="dn-ns mv2" src="assets/icon2.svg" />
          <div class="header super mb2 f3 icon2">The All-Digital Enterprise</div>
          <div class="f4 lh-copy off-black measure">The global proliferation of always-on mobile devices has connected our houses, cars, and cash to the internet. New services are improving the productivity of our assets, creating a variety of investable opportunities.</div>
        </div>
      </div>
  </div>
</div>
