<div class="flex flex-column w-100 items-start justify-start bg-white ph5-l pv6-l ph3 pv4">
  <div>
    <div class="f1 caslon left">The Difference</div>
    <div class="f5 db mt3 lh-copy off-black w-100 w-80-l">Performance ETFs are a new class of funds that dramatically reduce taxes, pass-through cost savings, and are designed for the next generation of investors.</div>
  </div>
  <div class="mt6-l mt4 w-100 mw8-l">
    <div class="fl w-third-l pr4-l w-100 pb4">
      <img src="assets/calendar.svg" alt="Calendar">
      <div class="f7 fw6 ttu tracked mt3 mb2">Defer Taxes</div>
      <div class="f6 lh-copy measure off-black">The average mutual fund annually distributes 7% of your total investment in taxable dollars. Performance ETFs dramatically reduce these interim tax payments by rotating stock positions during rebalancings.</div>
    </div>
    <div class="fl w-third-l pr4-l w-100 pb4">
      <img src="assets/chart.svg" alt="Chart">
      <div class="f7 fw6 ttu tracked mt3 mb2">Reduce Fees</div>
      <div class="f6 lh-copy measure off-black">The average mutual fund annually distributes 7% of your total investment in taxable dollars. Performance ETFs dramatically reduce these interim tax payments by rotating stock positions during rebalancings.</div>
    </div>
    <div class="fl w-third-l pr4-l w-100 pb4">
      <img src="assets/coins.svg" alt="Coins">
      <div class="f7 fw6 ttu tracked mt3 mb2">Focus On Performance</div>
      <div class="f6 lh-copy measure off-black">The average mutual fund annually distributes 7% of your total investment in taxable dollars. Performance ETFs dramatically reduce these interim tax payments by rotating stock positions during rebalancings.</div>
    </div>
  </div>
</div>
