<div class="flex flex-column w-100 items-start justify-start bg-white ph5-l pv6-l ph3 pv4">
  <div class="w-80-l center">
    <div data-aos="fade-up" class="super center f2 measure-wide db mt3 lh-copy black"><span class="b">We invest towards the future. </span>Every generation, there are new market forces—driven by technology, regulatory, and social changes—that enable well positioned
      companies to deliver above average earnings growth. That’s our focus.
    </div>
  </div>

  <div class="mt6-l mt4 w-80 col mw8-l center">
      <div data-aos="fade-up" class="pb4 w-100 flex justify-end">
        <div class="w-50">
          <div class="f7 fw6 ttu tracked mt3 mb2 arrow-icon">Internet-Connected Assets</div>
          <div class="f6 lh-copy off-black">The global proliferation of always-on mobile devices has connected our houses, cars, and cash to the internet. New services are improving the productivity of our assets, creating a variety of investable opportunities.</div>
        </div>
      </div>
      <div data-aos="fade-up" class="pb4 w-100 flex justify-end">
        <div class="w-50">
          <div class="f7 fw6 ttu tracked mt3 mb2 arrow-icon">A More Personal Web</div>
          <div class="f6 lh-copy off-black">The global proliferation of always-on mobile devices has connected our houses, cars, and cash to the internet. New services are improving the productivity of our assets, creating a variety of investable opportunities.</div>
        </div>
      </div>
      <div data-aos="fade-up" class="pb4 w-100 flex justify-end">
        <div class="w-50">
          <div class="f7 fw6 ttu tracked mt3 mb2 arrow-icon">The All Digital Enterprise</div>
          <div class="f6 lh-copy off-black">The global proliferation of always-on mobile devices has connected our houses, cars, and cash to the internet. New services are improving the productivity of our assets, creating a variety of investable opportunities.</div>
        </div>
      </div>

  </div>

</div>
