<div id="footer" class="flex w-100 min-vh-100 items-center justify-start bg-blue pv4 relative">
  <div class="animated-hero"></div>
  <div class="center flex flex-column justify-center z-999 mw9 ph5-ns ph4 ph4-m">
    <h1 class="f-subheadline f-mobileheadline super mb0 tc">Get in Touch</h1>
    <button id="launchform" class="f6 link dim br2 ph5 pv3 br-pill dn dn-m dib-l white bg-green center pointer fw6 mt3">Contact Us</button>
    <button href="https://willanderson653118.typeform.com/to/NW053a" data-mode="popup" class="typeform-share button f6 link dim br2 ph5 pv3 br-pill dn-l db-m dib white bg-green center pointer fw6 mt3">Contact Us</button>
  </div>
</div>
