<div class="flex w-100 min-vh-100 items-center justify-start bg-blue pv4 relative">
  <div class="animated-hero"></div>
  <div class="center flex flex-column justify-center z-999">
    <h1 class="f-subheadline super mb0 tc">Get in Touch</h1>
    <h4 class="f5 off-black o-80 lh-copy measure tc">If you’d like to learn more about investing, or are interested in joining our team, get in touch!
    </h4>
    <button class="f6 link dim br2 ph5 pv3 br-pill dib white bg-green center pointer fw6 mt3">Contact Us</button>
  </div>

</div>
