<div class="flex w-100 min-vh-100 items-center justify-start bg-blue">
  <div class="center flex flex-column justify-center">
      <h1 class="f-subheadline caslon mb0 tc">Get in Touch</h1>
      <h4 class="f5 off-black o-80 lh-copy measure tc">Compound your capital faster by reducing taxable capital gains distributions and lowering fees on your long term investments.</h4>
      <button class="f6 link dim br2 ph5 pv3 br-pill dib white bg-green center pointer fw6">Contact Us</button>
  </div>
</div>
