{% include header.html %}

<div id="home" class="flex w-100 min-vh-100 items-center justify-center bg-transparent relative">
  <div data-aos="fade-in" data-aos-delay="200" class="w-100 mw9 ph5-ns ph4 ph4-m white tl-ns tc">
    <h1 class="f-headline f-mobileheadline  super mb0">Modern Investing.</h1>
    <h4 class="f4 o-80 lh-copy measure">Compound your capital faster by investing into the best companies building our future.</h4>
  </div>
  <video autoplay muted loop class="fullscreenvideo bg-blue center">
    <source src="assets/video1.mp4" type="video/mp4">
  </video>
  <a id="downarrow" class="fixed arrowdown" href="#difference"><img src="assets/arrow-down.svg" /></a>

</div>
