<nav class="w-100 fixed z-9999">
  <div class="ph4 pv2 flex w-100 justify-between items-center">
    <div class="logo">
      <img src="assets/logo.svg" alt="Upholdings">
    </div>
    <div class="flex pv2 items-center space-between">
      <div class="mh2 f6">The Difference</div>
      <div class="mh2 f6">Approach</div>
      <div class="ml2 f6 mr4">Our Story</div>
      <button class=" 2f6 link dim br2 ph3 pv2 lh-copy dib white bg-green">Contact Us</button>
    </div>
  </div>
</nav>

<div class="flex w-100 min-vh-100 items-center justify-start bg-blue relative">
  <div class="animated-hero"></div>
  <div data-aos="fade-in" data-aos-delay="200" class="ph5-ns">
    <h1 class="f-subheadline super mb0">Modern Investing.</h1>
    <h4 class="f4 off-black o-80 lh-copy measure">Compound your capital faster by investing into the best companies building our future.</h4>
    <!-- <form class="mw6 left mt4">
      <fieldset class="cf bn ma0 pa0">
        <div class="cf">
          <label class="clip" for="email-address">Email Address</label>
          <input class="f6 h3 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br0" placeholder="Your Email" type="text" name="email-address" value="" id="email-address">
          <input class="f6 h3 f5-l button-reset fl pv3 tc bn bg-animate bg-black white pointer w-100 w-25-m w-20-l br0 submit" type="submit" value="">
        </div>
      </fieldset>
    </form> -->
  </div>
</div>
