<nav class="w-100 fixed z-9999">
  <div class="ph4 pv2 flex w-100 justify-between items-center">
    <div class="logo">
      <img src="assets/logo.svg" alt="Upholdings">
    </div>
    <div class="flex pv2 items-center space-between black">
      <div class="mh2 f5">The Difference</div>
      <div class="mh2 f5">Approach</div>
      <div class="ml2 f5 mr4">Our Story</div>
      <button class=" 2f6 link dim br2 ph3 pv2 lh-copy dib white bg-green br-pill">Contact Us</button>
    </div>
  </div>
</nav>

<div class="flex w-100 min-vh-100 items-center justify-start bg-blue relative">
  <div class="animated-hero"></div>
  <div data-aos="fade-in" data-aos-delay="200" class="ph5-ns">
    <h1 class="f-subheadline super mb0">Modern Investing.</h1>
    <h4 class="f4 off-black o-80 lh-copy measure">Compound your capital faster by investing into the best companies building our future.</h4>
  </div>

  <div class="rightvideo">
    <video autoplay muted loop>
      <source src="assets/video2.mp4" type="video/mp4">
    </video>
  </div>

</div>
