<div id="signup" class="flex w-100 vh-75 items-start justify-start bg-off-blue black relative flex-column">
  <div class="w-100 h-50-ns h-100 flex justify-center items-center z-999">
    <div class="center flex flex-column z-999 mw9 ph5-l ph4-m ph3 mv4">
      <h1 class="f-subheadline f-mobileheadline super mb0 tc mt0">{{site.footer.headline}}</h1>
      <div class="f5 w-100 lh-copy tc ph4">{{site.footer.body}}</div>
      <div class="dn-l dn-m db">
        {% include mc-form.html %}
      </div>
    </div>
  </div>
  <div class="w-100 h-50 z-999 dn db-l db-m">

    <div class="protected flex flex-column pv3">
      <h4 class="tc mb2 mt4">Content Protected</h4>
      <p class="f5 off-black tc measure center lh-copy mt0 ph2">Our investment fund is priced like an ETF, not a hedge fund. And low turnover in our holdings means improved tax efficiency for all of our investors.</p>
        <!-- <a href="#" class="center"><button class="pointer link br2 white bg-green ph4 mt2 db-l db-m dn dim">Request Access</button></a> -->
        <div class="signupform ph5-l ph4-m">
{% include mc-form.html %}

        </div>

    </div>


  </div>

  <div class="fade db-l db-m dn">
  </div>
  <div class="folder db-l db-m dn">
    <div class="doc pv3"></div>
  </div>



</div>
