<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="canonical" href="http://upholdings.com" />
    <meta name="p:domain_verify" content="fc62168defee4880a684a1a4cd35c059" />
    <meta name="description" content="Compound your capital faster by investing into the best companies building our future.">
    <meta name="keywords" content="etf,etf,etfs,etfs,funds,funds,recommendation,recommendation,recommendation,recommendations,recommendations,total,market,total,market,total,market,total,market,portfolio,portfolios,best,advice,model,cantwell,robert,everlane,san francisco, investments">
    <meta name="author" content="Upholdings Investments">
    <link rel="shortcut icon" type="image/png" href="/assets/fav.png"/>
    <title>Upholdings Investments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {% include tracking.html %}
</head>

<body id="top">



{{ content }}

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.ui.min.js"></script>
<script src="/js/app.js"></script>
<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
<script>
  AOS.init();
</script>

</html>
