---
layout: default
---

<div class="w-80 center ph3-ns">
  <form>
    <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa2">
        <div>
          <label for="firstname" class="f6 b db mb2">First Name</label>
          <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
        </div>
      </div>
      <div class="fl w-100 w-50-ns pa2">
        <div>
          <label for="firstname" class="f6 b db mb2">First Name</label>
          <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
        </div>
      </div>
    </div>
    <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa2">
        <div>
          <label for="firstname" class="f6 b db mb2">Email</label>
          <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
        </div>
      </div>
      <div class="fl w-100 w-50-ns pa2">
        <div>
          <label for="firstname" class="f6 b db mb2">Phone Number</label>
          <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
        </div>
      </div>
    </div>
    <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa2">
        <div>
          <label for="firstname" class="f6 b db mb2">Phone Number</label>
          <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
        </div>
      </div>
      <div class="fl w-100 w-50-ns pa2">
        <div>
          <label for="firstname" class="f6 b db mb2">Phone Number</label>
          <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
