---
layout: default
---

{% include header.html %}

<!-- Hero -->
<div id="home" class="flex w-100 calc-vh items-center justify-center bg-transparent relative">
  <div class="w-100 mw9 ph5-ns ph4 ph4-m white tl-ns tc z-999">
    <h1 data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" class="f-headline f-mobileheadline  super mb0">{{ page.hero_h1 }}</h1>
    <h4 data-aos="fade-up" data-aos-delay="600" class="f4 o-80 lh-copy measure">{{ page.hero_p }}</h4>
  </div>
  <div class="fullscreenvideo">
    <video preload="auto" poster="assets/poster.jpg" playsinline autoplay muted loop class="bg-blue center">
      <source src="{{ site.homepage_mov }}" type="video/mp4">
    </video>
  </div>

  <a id="downarrow" class="fixed arrowdown" href="#difference"><img src="assets/arrow-down.svg" onerror="this.onerror=null;this.src='assets/arrow-down.png'" /></a>
</div>

<!-- Chapter 2 -->
<div id="difference" class="flex flex-column w-100 items-start justify-start bg-blue pv5-l pv4 ph5-ns ph4 ph4-m">
  <div class="w-100 center mw9">
    <div data-aos="fade-up" class="super center f3 f2-m f2-l measure db mt3 mb0-ns mb3 lh-copy black">{{ page.manifesto }}</div>
  </div>
  <div class="mt6-l mt5 w-100 col center">
      <div data-aos="fade-up" class="mb5-m mb5-l mb4 w-100 flex justify-end-ns flex-start">
        <div class="w-50-l w-100 flex flex-column items-start justify-center icon-hold">
          <img class="db dn-l mv2" src="assets/trending_up.svg" />
          <div class="header super mb2 f3 icon0">{{ page.differenceA_h3 }}</div>
          <div class="fontsize18 lh-copy off-black measure">{{ page.differenceA_p }}</div>
        </div>
      </div>
      <div data-aos="fade-up" class="mb5-m mb5-l mb4 w-100 flex justify-end-ns">
        <div class="w-50-l w-100 flex flex-column items-start justify-center icon-hold">
          <img class="db dn-l mv2" src="assets/research.svg" />
          <div class="header super mb2 f3 icon1 ">{{ page.differenceB_h3 }}</div>
          <div class="fontsize18 lh-copy off-black measure">{{ page.differenceB_p }}</div>
        </div>
      </div>
      <div data-aos="fade-up" class="mb5-m mb5-l mb4 w-100 flex justify-end-ns">
        <div class="w-50-l w-100 flex flex-column items-start justify-center icon-hold">
          <img class="db dn-l mv2" src="assets/lowcost.svg" />
          <div class="header super mb2 f3 icon2">{{ page.differenceC_h3 }}</div>
          <div class="fontsize18 lh-copy off-black measure">{{ page.differenceC_p }}</div>
        </div>
      </div>
  </div>
</div>

<!-- Chapter 3 -->

<div id="criteria" class="bg-black w-100 pv6-ns pv5 ph5-l ph4 relative">
  <div class="w-100 center mw9 flex flex-row-ns flex-column">
    <div class="w-50-l w-100 fl mw9 ph4-l pr2">
      <div class="super f2 f2-l measure white">Investment Criteria</div>
    </div>
    <div class="w-50-l w-100 col center mt0-ns mt5">
        <div class="w-100 flex justify-end-ns flex-start">
          <div class="w-100 flex flex-column items-start justify-center">
            {% for crit in page.criteria %}
            <div class="f5 lh-copy white mb4">{{ crit }}</div>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Chapter 4 -->

{% capture string_with_newlines %}
    {{ page.bio }}
{% endcapture %}

<div id="story" class="bg-white w-100 center pt5-l pb6-l pt4 pb5 cantwell">
  <div class="w-50-l w-100 mw9 center ph4-m ph4 min-700">
    <div class="f7 fw6 ttu tracked mt3 mb2 black w-100 ">Founder, CIO</div>
    <div class="cf">
      <div class="fl w-100 flex flex-column flex-row-l">
        <img class="mr4 obj-contain mt4 child" src="assets/headshot.png" />
          <div class="f5 w-100 lh-copy off-black mt4">
            {{ string_with_newlines | newline_to_br | replace_first: "<br />", " " }}
          </div>
      </div>
    </div>
  </div>
</div>


{% include footer.html %}
