---
layout: default
---

{% include header.html %}
<!-- Hero -->
<div id="home" class="flex w-100 calc-vh items-center justify-center bg-transparent relative">
  <div class="w-100 mw9 ph5-ns ph4 ph4-m white tl-ns tc z-999">
    <h1 data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" class="f-headline f-mobileheadline  super mb0">{{ page.hero.headline }}</h1>
    <h4 data-aos="fade-up" data-aos-delay="600" class="f4 o-80 lh-copy measure america mt0">{{ page.hero.body }}</h4>
    <a data-aos="fade-up" data-aos-delay="900" href="#mc_embed_signup" class="dn-l dib mt3"> <button class="pointer link br2 white bg-green br-pill">Get Started</button></a>
  </div>
  <div class="fullscreenvideo">
    <video preload="auto" poster="assets/poster.jpg" playsinline autoplay muted loop class="bg-blue center">
      <source src="{{ site.homepage_mov }}" type="video/mp4">
    </video>
  </div>

  <a id="downarrow" class="fixed arrowdown" href="#difference"><img src="assets/arrow-down.svg" onerror="this.onerror=null;this.src='assets/arrow-down.png'" /></a>
</div>

<!-- Chapter 2 -->
<div id="difference" class="flex flex-column w-100 items-start justify-start bg-near-white pv5-l pv4 ph5-ns ph4 ph4-m">
  <div class="w-100 center mw9">
    <div data-aos="fade-up" class="super center f3 f2-m f2-l measure db mt3 mb0-ns mb3 lh-copy black">{{ page.manifesto }}</div>
  </div>
  <div class="mt6-l mt5 w-100 col center">
      <div data-aos="fade-up" class="mb5-m mb5-l mb4 w-100 flex justify-end-ns flex-start">
        <div class="w-50-l w-100 flex flex-column items-start justify-center icon-hold">
          <img class="db dn-l mv2" src="assets/trending_up.svg" />
          <div class="header super mb2 f3 icon0">{{ page.differenceA_h3 }}</div>
          <div class="fontsize18 lh-copy off-black measure">{{ page.differenceA_p }}</div>
        </div>
      </div>
      <div data-aos="fade-up" class="mb5-m mb5-l mb4 w-100 flex justify-end-ns">
        <div class="w-50-l w-100 flex flex-column items-start justify-center icon-hold">
          <img class="db dn-l mv2" src="assets/research.svg" />
          <div class="header super mb2 f3 icon1 ">{{ page.differenceB_h3 }}</div>
          <div class="fontsize18 lh-copy off-black measure">{{ page.differenceB_p }}</div>
        </div>
      </div>
      <div data-aos="fade-up" class="mb5-m mb5-l mb4 w-100 flex justify-end-ns">
        <div class="w-50-l w-100 flex flex-column items-start justify-center icon-hold">
          <img class="db dn-l mv2" src="assets/lowcost.svg" />
          <div class="header super mb2 f3 icon2">{{ page.differenceC_h3 }}</div>
          <div class="fontsize18 lh-copy off-black measure">{{ page.differenceC_p }}</div>
        </div>
      </div>
  </div>
</div>



<!-- Footer -->

{% include footer.html %}
