---
layout: default
---

{% include header-dark.html %}
<div class="w-100 pt5-l pt6 ph3">
  <article class="pa4-m pa5-ns">
    <div class="vitals mw center">
      <div class="f6 mb3"><a href="/insights/">Insights</a> </div>
      <h1 class="lh-headline mt0 mb3 super">{{page.title}}</h1>
      <p class="mb3 off-black america">{{page.summary}}</p>
      {% include share-buttons.html %}
    </div>

    <img class="center db w-auto" src="{{ page.image }}"/>
    <div class="mw center">
      {{ page.content }}
    </div>
  </article>
</div>

{% include footer-small.html %}
